.card-layout {
    @apply
    rounded-large 
    flex
    flex-col
    overflow-hidden
}

.card-style {
    @apply 
    sm:bg-surface-container
    lg:bg-surface-container-high
    text-on-surface
    sm:dark:bg-dark-surface-container
    lg:dark:bg-dark-surface-container-high
    dark:text-dark-on-surface
}

.card-content-layout {
    @apply
    flex
    flex-col
    items-start
    self-stretch
    sm:gap-2
    lg:gap-4
    sm:p-4
    lg:p-6  
}

.card-footer-layout {
    @apply
    inline-flex
    items-center
    justify-center
    whitespace-nowrap
    self-stretch
    text-label-large
    font-medium
    py-4
    pr-4
    pl-3
    gap-2
}

.card-footer-style {
    @apply
    text-primary
    bg-primary
    bg-opacity-0   
}

.card-footer-hover {
    @apply
    transition-interactive
    duration-300
    hover:bg-opacity-16
    focus-visible:bg-opacity-16
    cursor-pointer
}