.interactive-element {
    @apply transition-focus duration-300 rounded-extra-small hover:rounded-extra-large
}

.primary-interactive-element {
    @apply bg-primary text-on-primary dark:bg-dark-primary dark:text-dark-on-primary hover:bg-opacity-90 focus:bg-opacity-90
}

.error-interactive-element {
    @apply bg-error text-on-error dark:bg-dark-error dark:text-dark-on-error hover:bg-opacity-90 focus:bg-opacity-90
}

.primary-interactive-text-element {
    @apply text-primary bg-primary bg-opacity-0 dark:text-dark-primary dark:bg-dark-primary dark:bg-opacity-0 hover:bg-opacity-20 focus:bg-opacity-20
}

.error-interactive-text-element {
    @apply text-error bg-error bg-opacity-0 dark:text-dark-error dark:bg-dark-error dark:bg-opacity-0 hover:bg-opacity-20 focus:bg-opacity-20
}

.center-flex {
    @apply inline-flex items-center justify-center whitespace-nowrap
}

.keyboard-accessible {
    @apply 
    focus-visible:outline-none
    focus-visible:ring 
    focus-visible:ring-offset-2
    ring-offset-white dark:ring-offset-black 
    focus-visible:ring-primary dark:focus-visible:ring-dark-primary 
}

.disabled-state {
    @apply disabled:pointer-events-none disabled:opacity-30
}