.thesis-card-column {
    @apply flex flex-col items-start
}

.thesis-card-line {
    @apply flex flex-row items-start flex-wrap
}

.thesis-card-responsive {
    @apply flex sm:flex-col lg:flex-row items-start lg:flex-wrap lg:gap-1
}

.thesis-card-style {
    @apply 
    rounded-extra-small 
    bg-primary-container
    text-on-surface
    dark:bg-dark-primary-container
    dark:text-dark-on-surface
    transition-interactive
    duration-150
}

.thesis-card-style-active {
    @apply
    hover:rounded-large 
    hover:bg-primary
    hover:text-on-primary
    hover:dark:bg-dark-primary
    hover:dark:text-dark-on-primary
    hover:transition-interactive
    hover:duration-300
    hover:cursor-pointer
    hover:shadow-elevation-4

    focus-visible:rounded-large 
    focus-visible:bg-primary
    focus-visible:text-on-primary
    focus-visible:dark:bg-dark-primary
    focus-visible:dark:text-dark-on-primary
    focus-visible:transition-interactive
    focus-visible:duration-300
    focus-visible:cursor-pointer
    focus-visible:shadow-elevation-4

    focus-visible:outline-none 
    focus-visible:ring 
    focus-visible:ring-offset-2
    ring-offset-white 
    dark:ring-offset-black 
    focus-visible:ring-primary 
    dark:focus-visible:ring-dark-primary
}

.thesis-card-aux-text {
    @apply
    text-on-surface-variant
    transition-colors
    duration-150
}

.thesis-card-aux-text-active {
    @apply
    text-on-primary
    transition-colors
    duration-300
}