.card-layout {
    @apply
    flex
    flex-col
    items-stretch
    overflow-hidden
}

.card-content-layout {
    @apply
    flex
    flex-col
    items-start
    sm:p-4
    lg:p-6  
    sm:gap-3
    lg:gap-4
    text-label-large
    font-medium
}

.card-footer-layout {
    @apply
    inline-flex
    items-center
    justify-center
    whitespace-nowrap
    self-stretch
    text-label-large
    font-medium
    py-4
    pr-4
    pl-3
    gap-2
}

.card-footer-style {
    @apply
    text-primary
    bg-primary
    bg-opacity-0   
}

.card-footer-hover {
    @apply
    transition-interactive
    duration-300
    hover:bg-opacity-16
    focus-visible:bg-opacity-16
    cursor-pointer
}